.spacer {
    flex: 1 1 auto;
  }

  .alert {
    padding: 10px;
    background-color: #f44336; /* Red */
    color: white;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    // margin-bottom: 15px;
  }